#logo{
    color:#006633;
    text-align:center;
    font-size:65px;
    font-family:"Times New Roman", Times, serif;
    font-weight:bold;
}

#Everything_Box{
    background-color:#FFFFEE;
}



body{
    background-color:#001100;
}